
<!--Header with logo, side menu and the search button-->
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      <div id="logo-top"><img src="assets/images/logo.png"></div>
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu" color="danger"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="card-background">
 <ion-card>
   <img src="assets/images/who.jpg">
   <div class="card-title">WHO ARE WE?</div>
 </ion-card>
<div id="info">
 <h2>We Are Watchout</h2>
 <h3>Online info about Movies</h3>
 <h4>Made By: Gino, Raul and Tom</h4>
</div>
</ion-content>
